--
-- PostgreSQL database dump
--

\restrict FFHKY8c7grBNbf0cq9QiVQjivQwywbbjp8boVz6IOqG7kkKJdqKoGkrnWwmbvPG

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: navigation_transaction_menu; Type: TABLE; Schema: public; Owner: agsuite_user
--

CREATE TABLE public.navigation_transaction_menu (
    name character varying(120) NOT NULL,
    key character varying(120) NOT NULL,
    icon character varying(50) NOT NULL,
    module_code character varying(80) NOT NULL,
    requires_netsuite boolean NOT NULL,
    is_active boolean NOT NULL,
    sort_order integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid DEFAULT gen_random_uuid() CONSTRAINT navigation_transaction_menu_id_uuid_not_null NOT NULL,
    CONSTRAINT navigation_transaction_menu_sort_order_check CHECK ((sort_order >= 0))
);


ALTER TABLE public.navigation_transaction_menu OWNER TO agsuite_user;

--
-- Name: navigation_transaction_menu_item; Type: TABLE; Schema: public; Owner: agsuite_user
--

CREATE TABLE public.navigation_transaction_menu_item (
    name character varying(120) NOT NULL,
    key character varying(120) NOT NULL,
    route character varying(255) NOT NULL,
    query_params jsonb NOT NULL,
    icon character varying(50) NOT NULL,
    module_code character varying(80) NOT NULL,
    requires_netsuite boolean NOT NULL,
    is_active boolean NOT NULL,
    sort_order integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    id uuid DEFAULT gen_random_uuid() CONSTRAINT navigation_transaction_menu_item_id_uuid_not_null NOT NULL,
    menu_id uuid CONSTRAINT navigation_transaction_menu_item_menu_uuid_not_null NOT NULL,
    parent_item_id uuid,
    CONSTRAINT navigation_transaction_menu_item_sort_order_check CHECK ((sort_order >= 0))
);


ALTER TABLE public.navigation_transaction_menu_item OWNER TO agsuite_user;

--
-- Data for Name: navigation_transaction_menu; Type: TABLE DATA; Schema: public; Owner: agsuite_user
--

COPY public.navigation_transaction_menu (name, key, icon, module_code, requires_netsuite, is_active, sort_order, created_at, updated_at, id) FROM stdin;
Transactions	transactions	transaction	transactions	t	t	100	2026-09-04 16:39:33.743777+05:30	2026-09-04 17:58:02.452755+05:30	86b99810-1168-41a0-b7f7-8b041a2c1c8d
\.


--
-- Data for Name: navigation_transaction_menu_item; Type: TABLE DATA; Schema: public; Owner: agsuite_user
--



--
-- Name: navigation_transaction_menu_item navigation_transaction_menu_item_key_key; Type: CONSTRAINT; Schema: public; Owner: agsuite_user
--

ALTER TABLE ONLY public.navigation_transaction_menu_item
    ADD CONSTRAINT navigation_transaction_menu_item_key_key UNIQUE (key);


--
-- Name: navigation_transaction_menu_item navigation_transaction_menu_item_pkey; Type: CONSTRAINT; Schema: public; Owner: agsuite_user
--

ALTER TABLE ONLY public.navigation_transaction_menu_item
    ADD CONSTRAINT navigation_transaction_menu_item_pkey PRIMARY KEY (id);


--
-- Name: navigation_transaction_menu navigation_transaction_menu_key_key; Type: CONSTRAINT; Schema: public; Owner: agsuite_user
--

ALTER TABLE ONLY public.navigation_transaction_menu
    ADD CONSTRAINT navigation_transaction_menu_key_key UNIQUE (key);


--
-- Name: navigation_transaction_menu navigation_transaction_menu_pkey; Type: CONSTRAINT; Schema: public; Owner: agsuite_user
--

ALTER TABLE ONLY public.navigation_transaction_menu
    ADD CONSTRAINT navigation_transaction_menu_pkey PRIMARY KEY (id);


--
-- Name: nav_tx_item_active_order_idx; Type: INDEX; Schema: public; Owner: agsuite_user
--

CREATE INDEX nav_tx_item_active_order_idx ON public.navigation_transaction_menu_item USING btree (is_active, sort_order);


--
-- Name: nav_tx_item_tree_idx; Type: INDEX; Schema: public; Owner: agsuite_user
--

CREATE INDEX nav_tx_item_tree_idx ON public.navigation_transaction_menu_item USING btree (menu_id, parent_item_id, is_active, sort_order);


--
-- Name: nav_tx_menu_active_order_idx; Type: INDEX; Schema: public; Owner: agsuite_user
--

CREATE INDEX nav_tx_menu_active_order_idx ON public.navigation_transaction_menu USING btree (is_active, sort_order);


--
-- Name: navigation_transaction_menu_item_key_52f5577f_like; Type: INDEX; Schema: public; Owner: agsuite_user
--

CREATE INDEX navigation_transaction_menu_item_key_52f5577f_like ON public.navigation_transaction_menu_item USING btree (key varchar_pattern_ops);


--
-- Name: navigation_transaction_menu_key_4a71bea2_like; Type: INDEX; Schema: public; Owner: agsuite_user
--

CREATE INDEX navigation_transaction_menu_key_4a71bea2_like ON public.navigation_transaction_menu USING btree (key varchar_pattern_ops);


--
-- Name: navigation_transaction_menu_item navigation_transaction_menu_item_menu_fk; Type: FK CONSTRAINT; Schema: public; Owner: agsuite_user
--

ALTER TABLE ONLY public.navigation_transaction_menu_item
    ADD CONSTRAINT navigation_transaction_menu_item_menu_fk FOREIGN KEY (menu_id) REFERENCES public.navigation_transaction_menu(id) ON DELETE CASCADE;


--
-- Name: navigation_transaction_menu_item navigation_transaction_menu_item_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: agsuite_user
--

ALTER TABLE ONLY public.navigation_transaction_menu_item
    ADD CONSTRAINT navigation_transaction_menu_item_parent_fk FOREIGN KEY (parent_item_id) REFERENCES public.navigation_transaction_menu_item(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict FFHKY8c7grBNbf0cq9QiVQjivQwywbbjp8boVz6IOqG7kkKJdqKoGkrnWwmbvPG

